<html>

<head>
  <title>Número de sala inexistente</title>
  <script>
    confirm("Número de sala inexistente! \nGentileza verificar se digitou o número correto da sala. \nImportante lembrar que os códigos das salas são compostos por 6 números.")
    window.location.replace("/")
  </script>
</head>

</html>