.content {
  max-width: min(112rem, 79.8%);
}

#room header {
  width: 100%;

  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

#roomIdInput {
  margin-top: -120rem;
}

#room header .buttons {
  display: flex;
}

#room header .buttons .button:nth-child(1) {
  margin-right: 0.8rem;
  padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}

#room header .buttons .button:nth-child(2) {
  padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img {
  width: 2rem;
  height: 2rem;
}

/*** Question Form ***/
#question-form h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--black);
  line-height: 4.2rem;

  margin-bottom: 2.4rem;
}

#question-form form {
  border: 0.2rem solid var(--grey-blue);
  padding: 1.6rem;
  border-radius: 0 0.8rem 0.8rem 0.8rem;

  margin-bottom: 1.6rem;
}

#question-form form textarea {
  resize: none;
  background: transparent;
  outline: none;
  color: var(--textarea-text);

  width: 100%;
}

#question-form form textarea::placeholder {
  color: var(--grey-blue);
}

#question-form form footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#question-form form footer > div {
  display: flex;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--icons-details);
}

#question-form form footer > div img {
  margin-right: 0.9rem;
}

#question-form form footer button {
  height: auto;
  padding: 0.8rem 2.4rem;
  line-height: 2.4rem;
}

/****** Questions ******/
.question-wrapper {
  background-color: var(--light-blue);
  margin-bottom: 0.8rem;
  border-radius: 0 0.8rem 0.8rem 0.8rem;
  padding: 2.4rem;
}

.question-wrapper .question-content {
  display: flex;
  align-items: flex-start;
}

.question-wrapper .question-content .user {
  background-color: var(--blue);
  clip-path: circle();
  padding: 1.4rem;
}

.question-wrapper .question-content p {
  margin-left: 1.6rem;
  word-break: break-word;
  display: flex;
  align-items: center;
  min-height: 5.2rem;
}

.question-wrapper .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.question-wrapper .actions > a {
  display: flex;
  align-items: center;
}

.question-wrapper .actions > a > img {
  margin-right: 0.8rem;
}

/* .question-wrapper .actions > a:nth-child(2){
  margin-left: 2.4rem;
  o seletor abaixo faz a mesma coisa que esse, pegando
  o irmão do primeiro A
} */

.question-wrapper .actions > a + a {
  margin-left: 2.4rem;
}

/**** Question Read ****/
.question-wrapper.read {
  background-color: var(--grey-medium);
}

.question-wrapper.read .question-content .user {
  background-color: var(--grey-blue);
}

/*** No Questions ****/
.no-questions {
  text-align: center;
  margin-top: 5.2rem;
}

.no-questions p {
  max-width: 100%;
  margin-bottom: 1.2rem;
}

.no-questions p {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
}

.no-questions p + p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: var(--grey-dark);
  font-weight: 400;
  margin-bottom: 1.3rem;

  line-height: 1.9rem;
}

.toggleTheme {
  top: 11rem;
  right: 13.9rem;
}

/**** MEDIA QUERIES ****/

/***** DESKTOPS *****/
@media screen and (max-width: 1440px) {
  .toggleTheme {
    top: 12rem;
    right: 16.1rem;
  }

  section#questions {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .toggleTheme {
    top: 12rem;
    right: 10.5rem;
  }
}

/***** TABLETS *****/
@media screen and (max-width: 768px) {
  .toggleTheme {
    top: 12rem;
    right: 8rem;
  }
}

/***** MOBILE LARGE SCREEN*****/
@media screen and (max-width: 425px) {
  #room header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #room header .buttons {
    margin-top: 5rem;
  }

  .toggleTheme {
    top: 9rem;
    right: 5.6rem;
  }

  section#questions {
    padding-bottom: 3rem;
  }

  .question-wrapper .question-content p {
    padding-bottom: 2rem;
  }
}

/***** MOBILE SMALL & MEDIUM SCREEN *****/
@media screen and (max-width: 375px) {
  #room header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #room header .buttons {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50%;
    grid-template-areas:
      "top top"
      "bottomLeft bottomRight";
  }

  #room header .buttons .button:nth-child(1) {
    width: 120%;
    grid-area: bottomLeft;
    margin-right: 0;
  }

  #room header .buttons .button:nth-child(2) {
    width: 100%;
    grid-area: top;
    margin: 3rem 0 1rem 0;
  }

  .toggleTheme {
    top: 18.5rem;
    right: 4.9rem;
    grid-area: bottomRight;
  }

  #question-form h2 {
    font-size: 2.5rem;
    line-height: 1.2rem;
    margin: 5rem 0 3.4rem 0;
  }
  #question-form form footer > div {
    font-size: 0.9rem;
  }

  #question-form form footer > div img {
    margin-right: 0.2rem;
  }

  #question-form form footer button {
    height: 3rem;
    width: 7rem;
  }

  section#questions {
    padding-bottom: 5rem;
  }
}

/***** MOBILE SMALL SCREEN *****/
@media screen and (max-width: 320px) {
  .toggleTheme {
    top: 19.3rem;
    right: 3.9rem;
    grid-area: bottomRight;
  }
}
